extends layout

block content
  .container              
    h1 Customer Data
    p.lead Spot some trends.
    a(href="/") Go home
    br
    br
    if (user)
      span You are currently logged in as 
        strong #{user.username}
      br
      a(href="/logout") Logout
    br
    br
    h4 Total Sales: 
      span.total= total
    br
    table.table.table-hover
        thead
            tr
              th #
              th Token
              th Date
          tbody
            -for(var key in allTokens)
             tr
             td #{parseInt(key)+1}
             td 
               a(href='https://manage.stripe.com/test/search?query=#{allTokens[key].token}', target='_blank') #{allTokens[key].token}            
             td #{allTokens[key].time}
